// Here you can add other styles

.modal.show.d-block {
  margin-top: 50px;
}
//::-webkit-input-placeholder {
//  color:    #777;
//}
//:-moz-placeholder {
//  color:    #777;
//}
//::-moz-placeholder {
//  color:    #777;
//}
//:-ms-input-placeholder {
//  color:    #777;
//}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(128,128,128,.5) !important;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgba(128,128,128,.5) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: rgba(128,128,128,.5) !important;
}

.btn-xs {
  padding: 0.1rem 0.05rem;
  line-height: 1;
  margin-top: -7px;
}